* html {
  box-sizing: border-box;
  background-image: url("styles/images/blueboards.png");
}

#bodyhead {
  display: inline-flex;
  background-color: navy;
  background-image: url("styles/images/reunion.jpg");
  width: 90%;
  height: 30%;
  margin-top: 20p;
}
.header {
  display: flex;
  position inherit;
  background-color: #06879e;
  text-align: center;
}
.header, h1 {
  font-family: fantasy;
  font-sizing: 45px;
  text-align: center;
  color: dark-gray;
}
.header, h2 {
  font-sizing: 25px;
  text-align: center;
  color: dark-gray;
}
.header, h3 {
  font-sizing: 20px;
  text-align: center;
  color: dark-gray;
}
