body {
    display: auto;
    position: auto;
    background-color: blue;
    padding: 50px, pink;
    border: solid, 2px, black;
}


h2 {
    border: 90%, rgb(76, 13, 136), 1px;
    position: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
}

h1 {
    font-size-adjust: bold, oblique;
    background-color: block, aqua;
    display: inline-flex;
    margin: 70%;
    padding: 10px;
    color-adjust: rgb(202, 902, 202)
}
.nav-a {
    color: pink;
    font-style: oblique
      text: inherit
}

.nav-a-hover {
        block: transparent, green;
}

#