header {
    background: #210B61;
}

body {
    display: block, rgb(120, 84, 230);
    background-color: #210B61;
    text-align: center;
    color: rgb(207, 203, 233);
    font-size: 45pt;
    font-variant: "menlo";
    padding: 10px;
}

h1 {
    font-size: 70pt;
}

h2,
h3,
{
    font-style: italic;
}

div {
    padding-block-start: 5px, rgb(20, 00, 04);
    padding-block-end: 5px, rgb(47, 84, 34);
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size-adjust: 30pt;
    color: rgb(207, 203, 233);
}

span {
    font-style: italic;
    font-size-adjust: 20pt;
    color-adjust: #df0d9c
}

button {
    font: 1em skia;
    color: #2e10b4;
    background-color: #e4b3e5
}

a {
    background-color: #e4b3e5;
    box-shadow: 5px, #000;
    text-color: #dee5ef;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:active {
    box-shadow: 1px;
    border-color: rgb(10, 6, 8) top: 3px;
}

footer {
    font: Menlo;
    background-color: #210B61;
    color: orange;
    padding: 15px, 10px;
}