
  html, body {
    box-sizing: border-box;
    display: block;
    color: -internal-root-color;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #2a5980;
}
*, *:before, *:after {
  /* box-sizing: inherit; */
  background-color: #2a5980;
  border-radius: 10%;
  border: white 1px;  
}

*, *::before *:after {
  box-sizing: inherit;
  background-color: #7fbff3;
}

#bodyhead {
  margin-top: 20px;
  margin-bottom:700px;
  margin-left: 10px;
  margin-right: 10px;
}
.header3 {
  position: centre;
  background-color: #053053;
  align-content: center;
  text-align: center;
}
.header2 {
  background-color: cream;
  padding: 10px;
  font-family: fantasy;
  font-size: 45px;
  text-align: center;
  color: #7fbff3;
}
.header1 {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  color:goldenrod;
}
.header4 { 
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #7fbff3;
}
.corelist {
  display: block;
  position: inherit;
  margin-left: 10%;
  margin-right: 65%;
  height: 200px;
  background-color: gainsboro;
  background-blend-mode: overlay;
}
.techlist {
  display: block;
  position: inherit;
  margin-left: 65%;
  margin-right: 10%;
  height: 200px;
  background-color: gainsboro;
  background-blend-mode: overlay;
}
.list1, .list2{
  display: inline-flex;
  padding: 20px;
}
.button {
  background: black;   
  color: white;   
}
h1 {
  color: goldenrod;
  padding: 3px white;
}
h2 {
  color: gold;
  padding: 5px white;
}
